@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-bg-main: hsl(0, 0%, 96%);
$color-primary-header: hsl(210, 100%, 56%);
$color-primary-player-choice: hsl(210, 100%, 56%);
$color-primary-computer-choice: hsl(357, 83%, 55%);
$color-primary-black: hsl(0, 0%, 0%);
$color-box-shadow: hsla(0, 0%, 0%, 0.5);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: $color-primary-bg-main;
}