h1 {
  color: $color-primary-white;
  font-size: 30px;
  margin: 1rem;
}

.player-container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.far {
  font-size: 50px;
  margin-right: 40px;
  user-select: none;
}

#player .far,
#player .choice {
  color: $color-primary-player-choice;
  cursor: pointer;
}

#computer .far,
#computer .choice {
  color: $color-primary-computer-choice;
}

.selected {
  color: $color-primary-black !important;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
}