/////////////////////////////////////////
// CONTAINERS
.game-container {
  width: 530px;
  height: 600px;
  background: $color-primary-white;
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px $color-box-shadow;
}

.header {
  background: $color-primary-header;
  border-top-left-radius: 5px;
}